.container {
    display: block;
    text-align: center;
    /* margin-top: 5%; */
    visibility: visible;
}

p {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    color: blanchedalmond;
    border-radius: 10%;

}
