.container {
    display: block;
    text-align: center;
    margin-top: 10%;
    visibility: visible;
}

p {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
    width: 12.5rem;
    height: 12.5rem;
    font-size: 8rem;
    color: blanchedalmond;
    border-radius: 10%;
}