<input type="text" class="form-control" id="primero" placeholder="primero" aria-label="Recipient's username" aria-describedby="button-addon2">{{primero}}

<input type="text" class="form-control" id="segundo" placeholder="segundo" aria-label="Recipient's username" aria-describedby="button-addon2">{{segundo}}

<input type="text" class="form-control" id="tercero" placeholder="tercero" aria-label="Recipient's username" aria-describedby="button-addon2">{{tercero}}

<audio #audio src="../../../assets/Audio/podio.mp3"></audio>