<div id="cajaGen">
    <div class="caja" id="caja1">
        <img src="../../../assets/gris.jpg" alt="" id="imgInicio">
        <div class="ficha" id="ficha1"> 1 </div>
        <div class="ficha" id="ficha2"> 2 </div>
        <div class="ficha" id="ficha3"> 3 </div>
        <div class="ficha" id="ficha4"> 4 </div>
    </div>

    <div class="caja" id="caja 2"><img src="../../../assets/verde.jpg" alt=""></div>
    <div class="caja" id="caja 3"><img src="../../../assets/amarillo.jpg" alt=""></div>
    <div class="caja" id="caja 4"><img src="../../../assets/rosa.jpg" alt=""></div>
    <div class="caja" id="caja 5"><img src="../../../assets/celeste.jpg" alt=""></div>
    <div class="caja" id="caja 6"><img src="../../../assets/marron.jpg" alt=""></div>
    <div class="caja" id="caja 7"><img src="../../../assets/amarillo.jpg" alt=""></div>
    <div class="caja" id="caja 8"><img src="../../../assets/naranja.jpg" alt=""></div>
    <div class="caja" id="caja 9"><img src="../../../assets/verde.jpg" alt=""></div>
    <div class="caja" id="caja 10"><img src="../../../assets/celeste.jpg" alt=""></div>
    <div class="caja" id="caja 11"><img src="../../../assets/rosa.jpg" alt=""></div>
    <div class="caja" id="caja 12"><img src="../../../assets/amarillo.jpg" alt=""></div>
    <div class="caja" id="caja16">
        <img src="../../../assets/gris.jpg" alt="" id="imgFin">
    </div>
</div>

<!-- Todo el div que sigue es para probar la logica del tablero, cuando el proyecto esté finalizado hay que borrarlo -->
<div class="probarLogica">
    <select id="jugador">
        <option value="0" disabled selected>Elegir jugador</option>
        <option value="1">Jugador 1</option>
        <option value="2">Jugador 2</option>
        <option value="3">Jugador 3</option>
        <option value="4">Jugador 4</option>
    </select>
    <button id="respuestaCorrecta" (click)="respuestaCorrecta()">Respuesta correcta</button>
    <button id="respuestaIncorrecta" (click)="respuestaIncorrecta()">Respuesta incorrecta</button>
</div>