<div class="container">
  <div class="fancy">
    <input class="form-control" id="jugador_1" type="text" placeholder="Jugador 1" readonly="">
  </div>
  <div class="fancy">
    <input class="form-control" id="jugador_2" type="text" placeholder="Jugador 2" readonly="">
  </div>
  <div class="fancy">
    <input class="form-control" id="jugador_3" type="text" placeholder="Jugador 3" readonly="">
  </div>
  <div class="fancy">
    <input class="form-control" id="jugador_4" type="text" placeholder="Jugador 4" readonly="">
  </div>
</div>