* {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 25% 25% 25%;
    grid-template-areas:
    "historia img-dado arte"
    "deporte img-dado ciencia"
    "espectaculo buttons geografia";    
}

h1 {
    margin-top: 1%;
    margin-bottom: 5%;
}

.buttons {
    margin-top: 13%;
    grid-area: buttons;
}

#juegoNuevo {
    margin: 5px;
}

#tengoCodigo {
    margin: 5px;
    visibility: hidden;
}

#inputCodigo {
    width: 53.5%;
    margin-left: 50%;
    transform: translate(-50%);
    visibility: hidden;
}

.img-dado {
    grid-area: img-dado;
}

#historia {
    grid-area: historia;
}

#arte {
    grid-area: arte;
}

#geografia {
    grid-area: geografia;
}

#deporte {
    grid-area: deporte;
}

#espectaculo {
    grid-area: espectaculo;
}

#ciencia {
    grid-area: ciencia;
}