<div class="contenedorDado">
    <div class="dado">
        <div class="dado-cara frontal">
            <div class="inside">
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara trasera">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara izquierda">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara derecha">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara superior">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara inferior">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
    </div>
</div>

<div class="resultados">
    <input id="nroPregunta" type="text" size="3" maxlength="3" value="" disabled>
</div>

<div class="botones">
    <button (click)="obtenerPregunta()" class="btn btn-danger" id="btnverpregunta" name="btnverpregunta">VER PREGUNTA</button>
</div>