<p>creacion-sala works!</p>
<h1>Crear sala</h1>
<div class="form-group">
  <label class="col-form-label mt-4" for="inputDefault">Ingrese su nombre</label>
  <input type="text" class="form-control" placeholder="Ingrese su nombre" id="inputDefault">
</div>

<form>
  <fieldset class="form-group">
    <legend class="mt-4">Modo de juego</legend>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
      <label class="form-check-label" for="optionsRadios1">
        Solitario
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
      <label class="form-check-label" for="optionsRadios1">
        Multijugador
      </label>
    </div>

  </fieldset>

  <form>
    <fieldset class="form-group">
      <legend class="mt-4">Dificultad</legend>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
          checked="">
        <label class="form-check-label" for="optionsRadios1">
          Facil (20")
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
          checked="">
        <label class="form-check-label" for="optionsRadios1">
          Medio (15")
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
          checked="">
        <label class="form-check-label" for="optionsRadios1">
          Dificil (10")
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
          checked="">
        <label class="form-check-label" for="optionsRadios1">
          Random (dificultar aleatoria)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
          checked="">
        <label class="form-check-label" for="optionsRadios1">
          Personalizado
        </label>
      </div>
      <label class="col-form-label mt-4" for="inputDefault">Ingresa tu nombre</label>
      <input type="text" class="form-control" placeholder="Ingresa tu nombre" id="inputDefault">


    </fieldset>
    <button type="submit" class="btn btn-primary" routerLink="/partida">Crear partida</button>
    <button type="button" class="btn btn-danger" routerLink="/">Volver</button>

  </form>