<h1>Solitario/Multijugador</h1>
<div class="container">
    <div id="jugadores">
        <app-jugadores></app-jugadores>
    </div>
    <div id="dado">
        <app-dado></app-dado>
    </div>
    <div id="preg-resp">
        <app-preguntas-respuestas></app-preguntas-respuestas>
    </div>
    <div id="temporizador">
        <app-temporizador></app-temporizador>
    </div>
    <div id="tablero">
        <app-tablero></app-tablero>
    </div>
</div>
<button type="button" class="btn btn-danger" routerLink="/">Volver</button>